# Dependencies
node_modules/

# Build output
dist/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/


# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
